{{ "<!-- About Section -->" | safeHTML }}
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.about.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<p>{{ with .Site.Params.about.left }}{{ . | markdownify }}{{ end }}</p>
			</div>
			<div class="col-lg-4">
				<p>{{ with .Site.Params.about.right }}{{ . | markdownify }}{{ end }}</p>
			</div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<a href="{{ with .Site.Params.about.button.link }}{{.}}{{ end }}" class="btn btn-lg btn-outline">
					<i class="fa fa-{{ with .Site.Params.about.button.icon }}{{.}}{{end}}"></i> {{ with .Site.Params.about.button.text }}{{ . }}{{ end }}
				</a>
			</div>
		</div>
		<div class="col-lg-8 col-lg-offset-2">
		<hr>
			<div class="panel panel-success">
				<div class="panel-heading"><i class="fa fa-{{ with .Site.Params.about.interests.icon }}{{.}}{{end}}"></i>    {{ with .Site.Params.about.interests.interestTitle }}{{ . }}{{ end }}
				</div>
				<div class="col-lg-6">
				<div class="panel-body">
					<h6>{{ with .Site.Params.about.interests.listTitle }}{{ . }}{{ end }}</h6>
					<div class="list-group">
					 {{ with .Site.Params.about.interests.list }}
						{{ range $i, $e := $.Site.Params.about.interests.list }}
						<a href="#" class="list-group-item">
						{{ $e }}
						</a>
						{{ end }}
					{{ end }}
					</div>
					<h6>{{ with .Site.Params.about.interests.programmingTitle }}{{ . }}{{ end }}</h6>
					<div class="list-group">
					 {{ with .Site.Params.about.interests.programmingList }}
						{{ range $i, $e := $.Site.Params.about.interests.programmingList  }}
						<a href="#" class="list-group-item">
						{{ $e }}
						</a>
						{{ end }}
					{{ end }}
					</div>
				</div>
				</div>
				<div class="col-lg-6">
				<!-- <div class="panel-footer" style="background: #18bc9c;">-->
				<iframe  allowtransparency="true" style="background: #18bc9c;" src="{{ with .Site.Params.about.interests.chatbotURL }}{{.}}{{ end }}" height="650"> </iframe>
				<!-- </div> -->
				</div> 
			</div>
		</div>
    </div>
</section>
