{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}vendor/jquery/jquery.js"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}vendor/jquery-easing/jquery.easing.min.js"></script>
{{ "<!-- Contact Form JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jqBootstrapValidation.js"></script>
<script src="{{ .Site.BaseURL }}js/contact_me.js"></script>
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="{{ .Site.BaseURL }}js/freelancer.min.js"></script> 
{{ "<!-- Custom JavaScript files -->" | safeHTML }}
{{ range .Site.Params.custom_js }}
<script src="{{ . | absURL }}"></script>
{{ end }}
