{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section class="portfolio" id="portfolio">
    <div class="container">
		<h2 class="text-center text-uppercase text-secondary mb-0">
		{{ with .Site.Params.portfolio.title }}{{.}}{{end}}</h2>
		<hr class="star-dark mb-5">
        <div class="row">
            {{ range $.Site.Data.projects }}
            <div class="col-md-6 col-lg-4 portfolio-item">
                <a href="#portfolio-modal-{{ .modalID }}" class="portfolio-item d-block mx-auto">
					<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
						<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
						  <i class="fa fa-search-plus fa-3x"></i>
						</div>
					</div>
                    <img src="img/portfolio/{{ .img }}" class="img-fluid">
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>



